footer.g-footer
	.container
		.row
			.col-xs-12
				.footer-hint *По данным DSM по итогам 2015 года МАКСИЛАК® вошел в ТОП-10 ведущих торговых наименований среди всех БАД по объему аптечных продаж и занял I место среди БАД, нормализующих микрофлору кишечника.
			.col-xs-12
				.footer-warning Биологически активная добавка. Не является лекарством

