header.g-header
	.container
		.row
			.col-sm-3
				.logo.logo_top.hidden-xs
					img(src="./assets/img/text/top.png")
			.col-xs-6.col-sm-6
				.logo.logo_cosmo
					img(src="./assets/img/logo/cosmo.png")
			.col-xs-6.col-sm-3
				.logo.logo_maksilak
					img(src="./assets/img/logo/maksilak.png")