.benefits-item
	display block
	position relative
	white-space nowrap
	margin-bottom 15px

	&__icon
		display inline-block
		vertical-align middle
		width 58px
		height 50px
		margin-right 10px
		background-repeat no-repeat
		background-size 100%
		background-position center center
		@media media-pad
			width 80px
			height 70px
			margin-right 20px
		@media media-desktop
			width 92px
			height 85px
			margin-right 23px

		&_pilule
			background-image url(../assets/img/icons/benefits/pilule.png)
		&_time
			background-image url(../assets/img/icons/benefits/time.png)
		&_sun
			background-image url(../assets/img/icons/benefits/sun.png)


	&__text
		display inline-block
		color #424242
		white-space normal
		font-size 11px
		font-family 'Arimo_Bold'
		text-align left
		line-height 14px
		vertical-align middle
		@media media-pad
			font-size 14px
			line-height 17px
		@media media-desktop
			font-size 16px
			line-height 20px
		@media media-desktop
			font-size 18px
			line-height 22px
		span
			font-family 'Arimo_Regular'

