.about-item
	width 100%
	margin-bottom 22px
	@media media-pad
		display inline-block
		width auto
		white-space normal
		vertical-align top
	@media media-desktop
		width 260px
	@media media-large
		width 300px

	&__image
		margin 0 auto 2px
		^[0]_1 &
			width 163px
			@media media-pad
				width 210px
		^[0]_2 &
			width 157px
			@media media-pad
				width 210px
		^[0]_3 &
			width 169px
			@media media-pad
				width 210px

		img
			width 100%
			vertical-align top
	
	&__num
		font-size 32px
		color #0384c8
		font-family 'Rubik_Bold'
		margin-bottom 10px
		text-align center
		line-height 1
		@media media-pad
			font-size 40px
			line-height 29px
		@media media-desktop
			font-size 34px
	
	&__text
		width 180px
		margin 0 auto
		font-family 'Arimo_Regular'
		color #424242
		font-size 12px
		text-align center
		line-height 14px
		@media media-pad
			font-size 14px
			line-height 17px 
		@media media-desktop
			font-size 16px 