.test-list-item
	display block
	color #fff
	margin-bottom 24px
	text-align center
	padding 0 10px
	@media media-pad
		margin-bottom 28px
	@media media-desktop
		max-width 320px
		margin-left auto
		margin-right auto

	&__icon
		margin 0 auto 10px
		background-repeat no-repeat
		background-size 100%
		background-position center

		&_hair
			width 42px
			height 49px
			background-image url(../assets/img/icons/result/hair.png)
			@media media-pad
				width 52px
				height 61px

		&_dream
			width 71px
			height 35px
			background-image url(../assets/img/icons/result/dream.png)
			@media media-pad
				width 89px
				height 44px

		&_mouth
			width 59px
			height 29px
			background-image url(../assets/img/icons/result/mouth.png)
			@media media-pad
				width 74px 
				height 33px

		&_pilule
			width 62px
			height 52px
			background-image url(../assets/img/icons/result/pilule.png)
			@media media-pad
				width 78px
				height 65px
		
	&__title
		font-size 20px
		font-family 'Rubik_Bold'
		color #fff
		text-transform uppercase
		text-align center
		margin-bottom 10px
		@media media-pad
			font-size 25px
			line-height 38px
			margin-bottom 14px

	&__text
		font-size 12px
		font-family 'Arimo_Regular'
		line-height 14px
		text-align center
		color #fff
		@media media-pad
			font-size 14px
			line-height 16px