doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Cosmo
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	link(rel="stylesheet" href="./css/index.css")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

	include ./config/mixins

body

	include ./layout/header

	main.g-main
		include ./section/present
		include ./section/test
		include ./section/benefits
		include ./section/about

	include ./layout/footer

