.logo
	display block
	text-decoration none
	cursor pointer
	margin-left auto
	margin-right auto

	&_cosmo
		width 117px
		@media media-pad
			width 220px
		@media media-desktop
			width 261px

	&_maksilak
		width 110px
		@media media-pad
			width 165px
		@media media-desktop
			width 166px

	&_top
		@media media-pad
			width 193px
		@media media-desktop
			width 252px
		@media media-large
			width 230px
	img
		width 100%