.section-icon
	position relative
	display block
	margin 0 auto 10px
	width 55px
	height 55px
	background-color transparent
	background-repeat no-repeat
	background-size 100%
	background-position center center
	&_ribbon
		background-image url(../assets/img/section/1.png)
	&_smile
		background-image url(../assets/img/section/2.png)
	&_pilule
		background-image url(../assets/img/section/3.png)
	&_apple
		background-image url(../assets/img/section/4.png)