.social-wrapper
	.social .social-button
		background-color transparent
	&_white
		.social .social-button
			border-color #fff
			color #fff
	&_gray
		.social .social-button
			border-color #393939
			color @border-color

.social-inline
	display inline-block
	vertical-align top

.social-small
	height 28px
	width 130px
	border-radius 9px
	line-height 26px
	

.social-reload
	border-radius 9px
	width 130px
	height 28px
	line-height 26px
	border 1px solid #fff
	text-transform uppercase
	font-family 'Arimo_Regular'
	font-size 9px
	line-height 14px
	text-align center
	background url(../assets/img/icons/reload.png) no-repeat
	background-position left 20px center
	display inline-block
	vertical-align top

.test-result-control
	white-space nowrap
	text-align center
	padding-top 15px

	> *
		display inline-block
		vertical-align top

	.social-wrapper
		margin 0

	.social-reload
		border-radius 9px
		width 130px
		height 28px
		line-height 26px
		border 1px solid #fff
		text-transform uppercase
		font-family 'Arimo_Regular'
		font-size 9px
		line-height 14px
		text-align center
		background url(../assets/img/icons/reload.png) no-repeat
		background-position left 15px center
		display inline-block
		vertical-align top
		color #fff
		line-height 26px
		background-size 10px
		padding-left 16px
		margin-left 10px
		text-decoration none
		@media media-pad
			width 168px
			height 34px
			font-size 11px
			line-height 34px
			background-size auto
			background-position left 20px center

	.social

		.result_btn_share
			display inline-block
			vertical-align top

		.social-button
			display inline-block
			width 130px
			height 28px
			line-height 28px
			font-size 9px
			padding 0
			color #fff
			@media media-pad
				width 168px
				height 34px
				font-size 11px
				line-height 34px

			.social-count
				display inline-block
				border-left 1px solid #fff
				height 17px
				vertical-align middle
				line-height 18px
				font-size 9px
				padding-left 5px
				margin-top -3px
				@media media-pad
					padding-left 10px
					font-size 12px