.section-title
	color #fff
	font-family 'Rubik_Black'
	font-size 22px
	line-height 19px
	text-transform uppercase
	text-align center
	margin-top 0
	@media media-pad
		font-size 40px
		line-height 44px
	@media media-desktop
		font-size 44px
		line-height 49px
	@media media-large
		font-size 48px

	&_blue
		color #0384c8
		line-height 24px
