// ==============================
// +  >>>>>  GRADIENT <<<<<<<<  +
// ==============================

gradientAlpha(color)
	background linear-gradient(to top, rgba(color, 1) 60%, rgba(color, 1) 60%, rgba(color, 0) 100%)

gradientAlphaSide(color)
	background linear-gradient(to top, rgba(color, 1) 80%, rgba(color, 1) 80%, rgba(color, 0) 100%)

gradientAlphaBg(color)
	background linear-gradient(to bottom, rgba(color, .6) 0%, rgba(color, .6) 70%, rgba(color,0) 100%);

// ==============================
// +  >>>>>>  SHADOW <<<<<<<<<  +
// ==============================

boxShadow(color)
	box-shadow 0 0 16px color


// ==============================
// +  >>>>>>>  FONTS <<<<<<<<<  +
// ==============================

font_name(name, filename)
	font-family name
	src url(../assets/fonts/filename.eot)
	src url(../assets/fonts/filename.eot?#iefix) format('embedded-opentype'),
			url(../assets/fonts/filename.woff2) format('woff2'),
			url(../assets/fonts/filename.woff) format('woff'),
			url(../assets/fonts/filename.ttf) format('truetype'),
			url(../assets/fonts/filename.svg#PF_Din_Bold) format('svg')
	font-weight normal
	font-style normal



// =======================================
// +  >>>>>>>>> MEDIA QUERY <<<<<<<<<<<  +
// =======================================

media-pad = 'screen and (min-width 750px)'
media-desktop = 'screen and (min-width 970px)'
media-large = 'screen and (min-width 1170px)'
