.section-about
	padding-top 16px
	padding-bottom 10px
	@media media-pad
		padding-top 40px

	.section-title
		margin-bottom 5px
		@media media-pad
			font-size 33px
			margin-bottom 10px
			white-space nowrap
		@media media-desktop
			font-size 44px
			text-align left
			margin-bottom 20px
		@media media-large
			font-size 49px

	.section-skew
		position absolute
		top -20px
		left 0
		height 30px
		width 100%
		background-color #d1f3fd
		transform skew(0, -2deg)
		@media media-pad
			height 35px
		@media media-desktop
			top -27px
			height 55px

	.header-img
		width 292px
		margin 0 auto 55px
		@media media-pad
			width 720px
			margin-bottom 80px
		@media media-desktop
			width 780px
		@media media-large
			width 944px

		img
			width 100%
			vertical-align top



.about
	&-mure
		background-color #d1f3fd
		text-align center
		padding 0 5px
		position relative
		@media media-pad
			padding 30px
			position relative
			&-container
				width 730px
				margin 0 auto
		@media media-desktop
			&-container
				width 980px
		@media media-large
			&-container
				width 1200px

	&__image
		width 180px
		margin 0 auto 10px
		@media media-pad
			width 350px
			float right
			margin-left 30px
		@media media-desktop
			width 450px
			margin-right 40px
		@media media-large
			width 550px
			margin-right 45px
		img
			width 100%
			vertical-align top
	
	&__text
		color #424242
		font-size 12px
		line-height 14px
		font-family 'Arimo_Regular'
		text-align center
		padding 0 12px 8px
		@media media-pad
			width 350px
			float left
			font-size 14px
			line-height 18px
		@media media-desktop
			font-size 16px
			line-height 20px
			width 450px
			padding-top 20px
			text-align left
		@media media-large
			font-size 18px
			line-height 22px
			width 550px
			padding-top 40px
	
	&-list
		@media media-pad
			text-align center
			padding-top 30px
			white-space nowrap