.section-benefits
	padding-top 40px
	position relative
	@media media-pad
		padding-top 70px
	

	.section-skew
		position absolute
		top 1px
		width 100%
		height 10px
		left 0
		background-color #fff
		transform skew(0, -1deg)
		@media media-pad
			height 20px 
		@media media-desktop
			height 30px
			top -8px 

	.section-icon
		@media media-pad
			width 94px
			height 94px
			margin-bottom 44px
		@media media-desktop
			width 131px
			height 131px
			margin-bottom 25px
		@media media-large
			width 161px
			height 161px
			margin-bottom 30px

	.section-title
		padding 0 15px
		margin-bottom 30px
		@media media-pad
			font-size 38px
			line-height 41px
		@media media-desktop
			width 782px
			margin-left auto
			margin-right auto
		@media media-large
			width 852px

.benefits-image

	&__product
		width 182px
		margin 0 auto 12px
		@media media-pad
			width 283px
		@media media-desktop
			width 372px
		@media media-large
			width 460px

	&__about
		width 226px
		margin 0 auto 15px
		@media media-pad
			width 283px
		@media media-desktop
			width 363px

	img
		width 100%

.benefits__button
	display block
	margin 0 auto
	width 185px
	height 35px
	line-height 32px
	text-transform uppercase
	text-decoration none
	color #cc412f
	font-size 10px
	font-family 'Rubik_Black'
	border 2px solid @color
	border-radius 17px
	&:hover
	&:active
		text-decoration none
		color #cc412f
	@media media-pad
		width 330px
		height 60px
		line-height 55px
		border-width 4px
		font-size 18px
		border-radius 30px
		transform translateX(-50%)

.benefits-list
	padding 0 15px

	&__header
		margin-bottom 15px
		text-align center

	&__footer
		text-align center
		margin-top 20px
		small
			display block
			color #424242
			font-size 8px
			font-family 'Arimo_Regular'
			line-height 18px
			margin-bottom 10px
			@media media-pad
				font-size 10px
				line-height 22px
			@media media-desktop
				text-align left

	&-title
		color #747474
		font-size 24px
		line-height 24px
		font-family 'Rubik_Bold'
		@media media-pad
			font-size 33px
			line-height 27px
			text-align left

		span
			text-transform uppercase
			display block

		small
			margin-top 10px 
			display block
			font-size 11px
			font-family 'Rubik_Regular'
			line-height 14px
			@media media-pad
				font-size 13px
				line-height 16px