.section-present
	background-size 800px
	background-repeat no-repeat
	background-position left top
	background-image url(../assets/img/main.jpg)
	background-color #cc412f
	padding-top 210px
	position relative
	@media media-pad
		padding-top 25px
		background-size 1000px
		background-position center top
	@media media-desktop
		background-size 1500px
		padding-top 37px
	@media media-large
		background-size auto
		padding-top 70px

	.section-skew
		position absolute
		z-index 1
		bottom -9px
		width 100%
		height 20px
		background-color inherit
		transform skew(0deg, 1deg)
		&:after
			content ''
			position absolute
			top 97%
			left 50%
			transform translateX(-50%)
			border-top 18px solid #cc412f
			border-right 18px solid transparent 
			border-left 18px solid transparent 
			@media media-pad
				border-top 37px solid #cc412f
				border-right 37px solid transparent 
				border-left 37px solid transparent 
		@media media-desktop
			height 30px

	.section-icon
		width 51px
		@media media-pad
			width 64px
			height 72px
		@media media-desktop
			width 77px
			height 87px
			margin-bottom 16px
		@media media-large
			width 92px
			height 103px

	.section-title
		margin-bottom 5px
		@media media-pad
			font-size 27px
			line-height 23px
			margin-bottom 15px
		@media media-desktop
			font-size 33px
			line-height 29px
			margin-bottom 17px
		@media media-large
			font-size 39px
			line-height 33px
			margin-bottom 21px

	.circle
		border-radius 50%
		background-color #0384c8
		padding 20px  15px
		width 248px
		height @width
		margin 0 auto 122px
		position relative
		@media media-pad
			padding 25px
			width 310px
			height @width
			background-image url(../assets/img/icons/arrow.png)
			background-repeat no-repeat
			background-position center bottom 45px
			background-size 40px
			margin-bottom 160px
		@media media-desktop
			width 375px
			height @width
			background-size 47px
			margin-bottom 180px
		@media media-large
			width 446px
			height @width
			background-size 57px
			background-position center bottom 65px
			margin-bottom 220px

		article
			font-size 11px
			font-family 'Arimo_Regular'
			line-height 14px
			text-align center
			color #fff
			padding 0 17px
			@media media-pad
				padding 0 15px
				font-size 12px
			@media media-desktop
				font-size 15px
				line-height 17px
			@media media-large
				font-size 18px
				line-height 20px

.img-wrap_maksilak-small
	width 183px
	position absolute
	top 91%
	left 0
	@media media-pad
		width 230px
	@media media-desktop
		width 276px
	@media media-large
		width 340px

.presets-about
	padding 0 10px
	font-size 11px
	font-family 'Arimo_Regular'
	line-height 14px
	text-align center
	color #fff
	position relative
	z-index 2 
	@media media-pad
		width 580px
		font-size 14px
		line-height 18px
		margin 0 auto
		p:first-child
			width 520px
		margin-bottom 20px
	@media media-desktop
		font-size 18px
		line-height 20px
		width 710px 
		p:first-child
			width 100%
			margin-bottom 30px