.section-test
	background-color #0384c8
	color #fff
	padding-top 86px
	position relative
	padding-bottom 10px
	@media media-desktop
		padding-bottom 20px
	.section-icon_smile
		width 51px
		@media media-pad
			width 94px
			height 104px
		@media media-desktop
			width 100px
			height 110px
			margin-bottom 25px

	.section-skew
		position absolute
		bottom -5px
		height 25px
		left 0
		width 100%
		background-color #006ba3
		@media media-pad
			height 30px
		@media media-desktop
			height 50px

.test

	&-image
		width 100%
		padding 80px 5px 0
		@media media-desktop
			padding-top 0

		img
			max-width 100%
			height 100%
			vertical-align top
			height 565px
			@media media-desktop
				height auto
				width auto

	&-result

		&__text
			margin-top 19px
			font-size 12px
			font-family 'Arimo_Regular'
			line-height 14px
			text-align center
			@media media-pad
				width 580px
				margin-left auto
				margin-right auto
				margin-bottom 20px
				font-size 14px
				line-height 18px
			@media media-desktop
				width 713px
				font-size 16px
				line-height 20px
			@media media-large
				width 935px
				font-size 18px
				line-height 22px

	&-list
		margin-top 25px
		@media media-desktop
			max-height 800px
			overflow hidden
		@media media-large
			max-height 650px
