.test-form
	padding-bottom 30px
	@media media-pad
		padding-bottom 40px 

	.section-icon_apple
		@media media-pad
			width 111px
			height 108px
			margin-bottom 30px
		
	&-title
		line-height 23px
		@media media-pad
			font-size 38px
			line-height 41px
		@media media-desktop
			font-size 44px
			line-height 49px

	&-content
		padding-top 10px
		min-height 307px
		@media media-pad
			min-height 500px
			padding-top 40px
	
	&__num
		width 43px
		height @width
		line-height 47px
		margin 0 auto
		font-family 'Rubik_Bold'
		text-align center
		color #0384c8
		font-size 27px
		background-color #cefb87
		border-radius 50%
		margin-bottom 15px
		@media media-pad
			width 76px
			height 76px
			line-height 76px
			font-size 48px
			margin-bottom 20px
	

	&__question
		font-family 'Rubik_Regular'
		font-size 20px
		line-height 22px
		color #fff
		text-transform uppercase
		text-align center
		@media media-pad
			font-size 33px
			line-height 36px
		@media media-large
			font-size 37px
			line-height 39px
		
	
	&-button
		display inline-block
		width 184px
		height 32px
		text-align center
		line-height 30px
		text-transform uppercase
		color #fff
		font-family 'Rubik_Black'
		font-size 11px
		border 2px solid #fff
		border-radius 15px
		&:hover
			color #cefb87
			border-color #cefb87
		@media media-pad
			width 310px
			height 54px
			border-radius 27px
			line-height 50px
			font-size 18px
			border-width 4px

.test-option
	
	&-list
		padding-top 20px
		@media media-pad
			max-width 600px
			margin 0 auto
			padding-top 50px
		@media media-desktop
			max-width 700px
	
	&-item
		white-space nowrap
		margin-bottom 35px
		color #fff
		outline none
		&:hover, &.active
			& ^[1]__radio
				background-color #0384c8 
		&.active
			& ^[1]__text
				font-family 'Arimo_Bold'

		&__radio
			display inline-block
			vertical-align top
			margin-right 10px
			width 18px
			height 18px
			border 5px solid #cefb87
			background-color #cefb87
			border-radius 50%
			@media media-pad
				width 34px
				height 34px
				border-width 9px
				margin-right 18px

		
		&__text
			padding-right 10px
			display inline-block
			vertical-align top
			white-space normal 
			color #fff
			font-family 'Arimo_Regular'
			font-size 12px
			line-height 14px
			text-align left
			width 260px
			@media media-pad
				width auto
				font-size 16px
				line-height 20px
			@media media-large
				font-size 18px
				line-height 22px
