mixin test-list-item(icon, title, text)
	.test-list-item
		div(class="test-list-item__icon test-list-item__icon_" + icon)
		.test-list-item__title=title
		.test-list-item__text!=text

mixin benefits-item(type, text)
	.benefits-item
		div(class="benefits-item__icon benefits-item__icon_" + type)
		.benefits-item__text!=text

mixin about-list-item(num, text)
	div(class="about-item about-item_" + num)
		.about-item__image
			img(src="./assets/img/pilule/" + num + ".png")
		.about-item__num=num
		.about-item__text=text
