.g-footer
	background-color #e1e1e1
	padding 17px 10px 15px
	@media media-pad
		padding 20px
		width 100%
		overflow hidden
	@media media-desktop
		padding 21px 24px

.footer
	&-hint
		color #3f3f3f
		font-family 'Arimo_Regular'
		text-align center
		line-height 12px
		font-size 10px
		margin-top 13px
		margin-bottom 15px
		width 100%
		@media media-pad
			max-width 700px
			margin-left auto
			margin-right auto
		@media media-desktop
			max-width 900px
		@media media-large
			width 100%

	&-warning
		font-size 29px
		line-height 32px
		font-family 'Rubik_Light'
		width 220px
		margin 0 auto
		text-align center
		color #fff
		text-transform uppercase
		@media media-pad
			font-size 37px
			line-height 40px
			width 700px
			margin-left auto
			margin-right auto
		@media media-desktop
			max-width 900px
		@media media-large
			width 100%



