.g-header
	width 100%
	position relative
	height 60px
	background-color #fff
	line-height @height
	box-shadow 0 0 23px rgba(0, 0, 0, 0.38)
	@media media-pad
		height 74px
		line-height @height
	@media media-desktop
		height 112px
		line-height @height