section.section-4.section-about
	.container
		.row
			.col-xs-12
				.header-img
					img(src="./assets/img/text/termine.png")

	.about
		.about-mure
			.section-skew
			.about-mure-container.clearfix
				.about__image
					img(src="./assets/img/pilule/mure.png")
				.about__text
					h2.section-title.section-title_blue Что такое MURE®?
					article.
						При производстве капсулы используется специальное покрытие, защищающее содержимое капсул МАКСИЛАК® и сохраняющее жизнеспособность бактерий даже при воздействии агрессивных факторов внешней и внутренней среды. #[br]#[br]
						Именно поэтому МАКСИЛАК® можно хранить без использования холодильника. Кроме того, благодаря технологии MURE®, МАКСИЛАК® не подвержен воздействию кислоты желудочного сока, солей желчных кислот и ферментов поджелудочной железы.

		.about-list
			+about-list-item('1', 'Капсула, неустойчивая к воздействию внутренней и внешней среды факторов внешней и внутренней среды')
			+about-list-item('2', 'На капсулу наносится специальное покрытие MURE®')
			+about-list-item('3', 'Капсула защищена от агрессивных факторов')


