section.section-3.section-benefits
	.section-skew
	.benefits
		.container
			.row
				.col-xs-12
					.section-icon.section-icon_pilule
					h2.section-title.section-title_blue Пробиотик нового поколения с защитой MURE®
			.row
				.col-xs-12.col-sm-6
					.benefits-image
						.row
							.col-xs-12
								.benefits-image__product
									img(src="./assets/img/maksilak/big.png")
								.col-xs-12
									.benefits-image__about
										img(src="./assets/img/text/about.png")
				.col-xs-12.col-sm-6
					.benefits-list
						.row
							.col-xs-12
								header.benefits-list__header
									.benefits-list-title
										span 9 КУЛЬТУР
										| полезных&nbsp;бактерий
										small Инновационный подход к коррекции нарушений микрофлоры желудочно-кишечного тракта
							.col-xs-12
								.benefits-list__body
									+benefits-item('pilule', '4,5 миллиарда КОЕ* <span>полезных <br/>бактерий в 1 капсуле</span>')
									+benefits-item('time', '1 капсула в сутки')
									+benefits-item('sun', 'Хранение без холодильника')
							.col-xs-12
								footer.benefits-list__footer
									small *KOE - колониеобразуюшая единица бактерий
									a(href="#").benefits__button Подробнее о продукте




