section.section-1.section-present
	.container
		.row
			.col-xs-12
				.circle
					.section-icon.section-icon_ribbon
					h2.section-title Мы отказываемся
					article от сладкого, мучного и фастфуда, сидим на диетах, изнуряем себя тренировками в тренажерных залах, посещаем салоны, делаем маски для того, чтобы кожа выглядела свежей и здоровой. 
					.img-wrap.img-wrap_maksilak-small
						img(src="./assets/img/maksilak/small.png")

		.row
			.col-xs-12
				.presets-about
					article
						p Однако мы забываем (или даже не догадываемся), что огромную роль в стройности фигуры, здоровом цвете лица и хорошем состоянии волос играют процессы пищеварения.
						p Что нужно делать, чтобы этот сложный процесс был отлажен и мы были спокойны за свое здоровье, узнай в нашем проекте!
	.section-skew



