section.section-2.section-test

	.test-form
		.section-icon.section-icon_apple

		.container
			.row
				.col-xs-12

					h2.section-title.test-form-title Как то, что ты ешь влияет на твой внешний вид?

					.test-form-content
						.test-form__num 5
						.test-form__question подвержена ли ты стрессу?

						.test-option-list

							.test-option-item
								.test-option-item__radio
								.test-option-item__text Практически нет. Моей нервной системе можно только позавидовать!

							.test-option-item
								.test-option-item__radio
								.test-option-item__text Да, я очень много работаю и часто из-за этого не сплю ночами.

							.test-option-item
								.test-option-item__radio
								.test-option-item__text Да, я часто нервничаю по пустякам.

						.test-form-button Следующий вопрос









	.hidden.test
		.container
			.test-result
				.row
					.col-xs-12
						.section-icon.section-icon_smile
						h2.section-title Ты —  молодец!
						.test-result__text
							artcile Судя по твоим ответам, нам остается тебя только похвалить. Ты стараешься правильно питаться, бережешь свою нервную систему, пьешь много воды и практически не имеешь вредных пищевых привычек! Скорее всего, жалобы возникают у тебя крайне редко.

			.test-list
				.row
					.col-xs-12.col-sm-4
						+test-list-item('hair', '1. Волосы', 'Блестящие, пышные и густые волосы — верный признак здоровья!')
						+test-list-item('dream', '2. Кожа', 'Свежесть, чистая, сияющая кожа  и отсутствие мешков под глазами — разве не об этом мечтаем все мы? Один из способов этого достичь — правильное, сбалансированное питание. И это все про тебя!')
						+test-list-item('mouth', '3. Рот', 'Если в полости рта ты не испытываешь никакого дискомфорта (например, металлического привкуса), люди не отходят от тебя из-за неприятного запаха изо рта, значит, все в порядке, поводов для беспокойства нет. Продолжай в том же духе!')
					.col-xs-12.hidden-xs.col-sm-4
						.test-image
							img(src="./assets/img/girl/3.png")
					.col-xs-12.col-sm-4
						+test-list-item('pilule', '4. Кишечник', 'Желудочно-кишечный тракт выполняет множество важных функций в нашем организме. Именно поэтому его микрофлору нужно постоянно поддерживать и не давать  «плохим», патогенным бактериям подавлять полезные лакто- и бифидобактерии нашего кишечника. Стоит учитывать, что крайне негативно на микрофлору кишечника влияет стресс, плохое питание и другие негативные факторы. Судя по твоим ответам, все это обходит тебя стороной. И причиной тому — здоровый образ жизни и правильное питание! <br/><br/> Если уж ты заботишься о своем здоровье и хочешь, чтобы твоя пищеварительная система и дальше функционировала на отлично, можно принимать синбиотик МАКСИЛАК®: он нормализует и поддерживает баланс микрофлоры.')
	.section-skew



